@{
    ViewBag.Title = "Your photos";
}
    <div class="jumbotron">
        <h1>Step 2</h1>
        <p class="lead">Connection with Instagram successful! Right now search and choose which photos do you want to download!</p>

        <div class="photos row-fluid">
        </div>
    </div>

@section Scripts {
    <script id="tmpl-photos" type="text/template">
        <ul class="thumbnails">
        {{#data}}
            <li class="span3">
                <div class="thumbnail">
                    <a href="#">
                        <img data-id="{{id}}" src="{{{images.thumbnail.url}}}" width="{{images.thumbnail.width}}" height="{{images.thumbnail.height}}" />
                    </a>
                </div>
            </li>
        {{/data}}
        </ul>
    </script>

    <script type="text/javascript">
        function listUserPhotos(resp) {
            console.log('listing photos...');
            console.log(resp);

            var thumbnail = null;
            var img = null;

            if (resp && resp.data.length > 0) {
                var photos = Mustache.render($('#tmpl-photos').html(), resp);
                $('.photos').html(photos);
            }

            backgram.spinner.stop();
        }

        $(function () {
            backgram.spinner.spin($('.photos')[0]);
            backgram.instagram.photo.getAll('', 'listUserPhotos');
        });
    </script>
}