<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li>@Html.ActionLink("Home", "Index","Home")</li>
        <li><a href="#">About</a></li>
        <li>@Html.ActionLink("Contact", "Contact","Contact") </li>
    </ul>
    <h3 class="muted">BackGram</h3>
</div>

<hr>
