<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li>@Html.ActionLink("Home", "Index","Home")</li>
        <li>@Html.ActionLink("About", "Index","About")</li>
        <li>@Html.ActionLink("Contact", "Index","Contact") </li>
    </ul>
    <h3 class="muted">BackGram</h3>
</div>

<hr>
