@using Backgram.Core.Util

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout.cshtml</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
    BackGram v.@AssemblyUtil.GetVersion()
</html>
