@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>Backup your instagram pictures!</h1>
    <p class="lead">Simple, easy, fast. Follow the steps to get your precious photos downloaded so you can save them elsewhere.</p>
    @Html.ActionLink("Start Now >>", "Index", "Authenticate", null, new { @class = "btn btn-large btn-success" })
</div>